* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


body {
  height: 100%;
  background-color:  #26314d;
}

.Header
{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #26314d;
  z-index: 999;
}

.Title
{
  position:absolute;
  top:30%;
  left: 13%;
  font-size: 33px;
  color:#a33021;;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.Title span
{
  font-weight: 800;
}

.Title:hover
{
  color: white;
  -webkit-transition: all 0.5s;
}

.Menu
{
  position: relative;
  float: right;
  top: 35%;
  right: 8%;
  overflow: hidden;
}

.Menu-Bar
{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
  padding: 0px;
}

.Menu-Bar a li
{
  color:#a33021;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}

.Menu-Bar a:hover 
{
  text-decoration: none;
}

.Menu-Bar a li:hover {
  color: white;
  -webkit-transition: all 0.5s;
}

.Poster
{
  max-height: 850px;
  position:relative;
}

.Poster-Background
{
  max-height: 850px;
}

.Poster-Title
{
  position: absolute;
  top:40%;
  text-align:center;
  width: 100%;
  height: 100%;
}
.Poster-Title h1
{
  color:#a33021;
  font-weight: 700;
  font-size: 60px;
}

.Poster-Title span
{
  color:#a54437;
  font-size: 25px;
}

.Play-Games
{
  position: relative;
  width: 100%;
  background-color:#26314d;
  height: 50%;
}

.Play-Games .Play-In
{
  height: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 0% 0% 5% 0%;
  color: #a54437;
  font-size: 60px;
  text-align: center;
  font-weight: 300;
}

.Play-Games .Play-In .Images
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}

.Play-Games .Play-In .Images img:nth-child(1) {
  grid-row: span 1;
  grid-column: span 1;
}

.Play-Games .Play-In .Images img:nth-child(2) {
  grid-row: span 1;
  grid-column: span 2;
}

.Play-Games .Play-In .Images img:nth-child(3) {
  grid-row: span 1;
  grid-column: span 3;
}

.Play-Games .Play-In .Images img:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}

.Play-Games .Play-In .Images img:nth-child(5) {
  grid-row: span 2;
  grid-column: span 2;
}

.Play-Games .Play-In .Images img:nth-child(6) {
  grid-row: span 2;
  grid-column: span 3;
}

.Play-Games .Play-In .Images img
{
  box-shadow: 0 8px 8px rgba(173, 79, 79, 0.8);
  width: 100%;
  height: 100%;
}

.box
{
    width: 100%;
    left: 50%;
    background:#26314d;
    text-align: center;
    padding:0% 0% 0% 0%;
}

.box h1
{
    color:#a33021;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]
{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  border: 2px solid #a33021;
  padding: 14px 10px;
  width:300px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
  width: 380px;;
  border-color: #fdfdfd;
}

.box input[type = "submit"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #a33021;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor:pointer;
}

.box input[type = "submit"]:hover
{
  background: #a33021;
}

.Footer
{
  color: #a33021;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.btn
{
  display: inline-block;
  width: 90px;
  height: 90px;
  background:#a33021;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #26314d;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 85px;
  font-size: 30px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #fcfcfc;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background:  #26314d;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

/*
=====================
-  Media Queries 
=====================
*/

@media only screen and (max-width: 768px)
{
  body
  {
    width: 100%;
  }
 .Menu-Bar
 {

  height: 100%;
  width: 100%;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  margin: 0px;
 }
 .Menu-Bar a li
{
  font-size: 20px;
}
 
 .Menu
 {
  position: relative;
  width: 100%;
  top: 5%;
  left: 1%;
  bottom: 1%;
 }

 .Title
 {
  position: relative;
  left: 0%;
  font-size: 27px;
  width: 100%;
  text-align: center;
  top: 5%;
 }
 
 .Poster-Title h1
 {
   font-size: 20px;
 }
 .Poster-Title span
 {
   font-size: 15px;
 }

 .Poster
 {
   width: 100%;
 }
}
